<div class="col-xs-12">
	<h1 class="droid_sans_font"><%= @identity.uid %>'s Songs</h1>

	<table class="table droid_sans_font">
		<tbody>
			<tr>
				<th>Track</th>
				<th>Time</th>
				<th>Genre</th>
				<th>Actions</th>
			</tr>
			<% @tweets.each do |tweet| %>
			<tr>
				<td> <%= tweet.text %> </td>
			</tr>
			<% end %>
		</tbody>
	</table>
	<br/>
</div>